services:
  blog-app:
    image: ${ECR_REPO_URL_WITH_TAG}
    container_name: blog-app
    restart: always
    env_file:
      - ./.env
    expose:
      - "5000"

  nginx:
    image: ${NGINX_IMAGE_URI}
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    depends_on:
      - blog-app