# deployment/docker-compose.yml

services:
  # 1. Our Python Blog Application
  blog-app:
    build:
      context: ..         # Build from the root project folder
      dockerfile: deployment/Dockerfile # Point to our Dockerfile
    # The 'image' tag is set by our CI/CD pipeline
    # We will pass it in as an environment variable
    image: ${ECR_REPO_URL_WITH_TAG}
    container_name: blog-app
    restart: always
    env_file:
      - ../.env.production # The .env file is in the root
    expose:
      - "5000"

  # 2. The NGINX Web Proxy
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      # Nginx.conf is in the same folder
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - blog-app